{% extends 'base.html.twig' %}

{% block title %}Collaborateur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/rh.css') }}">
{% endblock %}

{% block body %}
    {% set page = 'collab' %}
    <nav id="content">
        <div id="app" data-page="{{ page }}"></div>
    </nav>
{% endblock %}
