#nav-login{
    background: #ffffff;
    width: 500px;
    height: max-content;
    border-radius: 15px;
}

#login{
    background-color: #16738A;
    color: #fff;
    width: 100%;
}

#forget{
    color: #16738A;
}