#menu-verticale {
    background-color: #ffffff !important;
    width: 300px;
    height: 73rem;
    padding: 10px;
    border-radius: 10px;
}

#menu a.nav-link {
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#menu a.nav-link:hover {
    background-color: #16738a7e;
    color: white;
    text-decoration: none;
}

#menu a.nav-link.active {
    background-color: #16738A;
    color: white;
}

#menu-content {
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
}

.element-dash, .anomalie {
    cursor: pointer;
    transition: all 1s;
}

.element-dash:hover, .anomalie:hover {
    background-color: #00000028;
}

.danger {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}

.warning {
    background-color: orange;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}

.feedback_name {
    background-color: grey;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}