#menu-verticale {
    background-color: #ffffff !important;
    width: 300px;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

#menu a.nav-link {
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#menu a.nav-link:hover {
    background-color: #16738a7e;
    color: white;
    text-decoration: none;
}

#menu a.nav-link.active {
    background-color: #16738A;
    color: white;
}

#menu-content{
    background-color: #ffffff;
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
}