body{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 98vh;
}

#content{
    width: 95%;
    height: 95%;
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}