body {
    background-color: #ffffff !important;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: max-content;
}

#content {
    width: 100%;
    height: max-content;
}

#app {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 10px;
}