body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: max-content;
    padding: 10px;
}

#content {
    width: 98%;
    height: max-content;
}

#app {
    width: 100%;
    height: max-content;
    display: flex;
    gap: 10px;
}