#menu-verticale {
    background-color: #f1f1f1;
    width: 300px;
    height: 99vh;
    padding: 10px;
    position: fixed;
}

#menu a.nav-link {
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#menu a.nav-link:hover {
    background-color: #16738a7e;
    color: white;
    text-decoration: none;
}

#menu a.nav-link.active {
    background-color: #16738A;
    color: white;
}

#menu-content {
    flex-grow: 1;
    border-radius: 10px;
    padding: 20px;
    margin-left: 320px;
}

.element-dash, .anomalie {
    cursor: pointer;
    transition: all 1s;
}

.element-dash:hover, .anomalie:hover {
    background-color: #00000028;
}

.danger {
    background-color: red;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}

.warning {
    background-color: orange;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}

.success {
    background-color: green;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}

.feedback_name {
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    margin: 20px;
}

.stars {
  display: flex !important;
}

.stars svg {
  margin-right: 6px !important;
}

.stars svg:last-child {
  margin-right: 0 !important;
}

button, a {
    cursor: pointer;
}

.centered {
  text-align: center; /* pour centrer le texte ou les éléments inline */
  display: flex;      /* pour centrer des éléments block */
  justify-content: center;
  align-items: center;
}

.faible {
background-color: #198754; /* vert Bootstrap */
color: white;
padding: 3px 8px;
border-radius: 5px;
}
